{% extends 'layouts/my_admin_base.html' %}

{% block content %}
    <div class="container">
        <table class="table table-bordered">
            <tr>
                <th>Title</th>
                <th>Brand</th>
                <th>Type</th>
                <th>Created_at</th>
                <th>Actions</th>
            </tr>
            {% for info in outfit %}
                <tr>
                    <td>{{ info.title }}</td>
                    <td>{{ info.brand.name }}</td>
                    <td>{{ info.type.title }}</td>
                    <td>{{ info.created_at|date:'d-m-Y H:i' }}</td>

                    <td>
                        <div class="d-flex justify-content-around">

                            <a href="/my_admin/{{ info.pk }}/"><i class="fa fa-eye text-primary"></i></a>
                            <a href="/my_admin/{{ info.pk }}/edit/"><i class="fa fa-pencil-alt text-warning"></i></a>
                            <a onclick="return confirm('Your data is about to be deleted. Please confirm!')"
                               href="/my_admin/{{ info.pk }}/delete/"><i class="fa fa-trash text-danger"></i></a>
                        </div>
                    </td>
                </tr>

            {% endfor %}
        </table>
    </div>
{% endblock %}